

<div class="bg-white/30 backdrop-blur-sm ">


<div class=" w-full mt-10 flex flex-col justify-center items-center animate-blurred-fade-in">
<p class="mt-20 title  text-3xl">Descobreix</p>
<p class="title text-8xl text-red-600">Girona</p>
<img src="628e5ae1f5f7aa9fd1849a5c1a6b406b_63e05c52eeaf3c1c228a5d2d85b8baf5-removebg-preview.png" class="grayscale-100 w-2xs" alt="Pintura aquarela de Gerona">
</div>
<div class="p-5 w-full  mb-20 max-w-5xl grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 mx-auto gap-10">
  <div >
    <p>Girona és una ciutat que enamora per la seva combinació única d’història, cultura i patrimoni. Els seus carrers empedrats, les places plenes d’encant i els monuments centenaris conviden a descobrir un entorn carregat de personalitat. Passejar pel Barri Vell permet endinsar-se en segles d’història, mentre que les muralles ofereixen panoràmiques espectaculars d’una de les ciutats més emblemàtiques de Catalunya.</p>
  </div>

    <div >
    <p>Més enllà del seu ric llegat històric, Girona destaca per la seva excel·lent gastronomia, els espais naturals i una agenda cultural activa durant tot l’any. La ciutat és també una porta d’entrada privilegiada per explorar la Costa Brava, pobles amb encant i paisatges de gran bellesa. Cada visita ofereix experiències inoblidables que combinen tradició, autenticitat i l’esperit acollidor del territori.</p>
  </div>


</div>

</div>
