
<app-navbar-map></app-navbar-map>

<div id="map" class="map h-screen absolute top-0 z-0 ">
<div id="popup" class="ol-popup">
  <a id="popup-closer" class="ol-popup-closer">✖</a>
  <div id="popup-content"></div>
</div>
  </div>
    <div class="relative grid grid-cols-2 p-1 mt-20 w-full gap-1  md:flex  justify-center place-items-center ">
<button class="bg-red-50/30 backdrop-blur-sm rounded-md text-red-500 lg:text-md text-xs" (click)="cargarBtnHoteles()">Hotels</button>
<button class="bg-red-50/30 backdrop-blur-sm rounded-md text-red-500 lg:text-md text-xs" (click)="cargarBtnPensiones()">Pensions</button>
<button class="bg-red-50/30 backdrop-blur-sm rounded-md text-red-500 lg:text-md text-xs" (click)="cargarBtnApartments()">Apartaments</button>
<button class="bg-red-50/30 backdrop-blur-sm rounded-md text-red-500 lg:text-md text-xs" (click)="cargarBtnPuntsInteres()">Punts d'interés</button>
<button class="bg-red-50/30 backdrop-blur-sm rounded-md text-red-500 lg:text-md text-xs " (click)="cargarBtnCafeteries()" >Cafeteries</button>
<button class="bg-red-50/30 backdrop-blur-sm rounded-md text-red-500 lg:text-md text-xs" (click)="cargarBtnRestaurants()">Restaurants</button>

</div>


@if (hotels) {
  <div class="relative bottom-0 left-4 z-50 w-2xs bg-red-100 p-2 rounded-md" [ngClass]="{'hidden': isSidebarVisible}" >
    <div class="w-full">
      <div class="flex w-full justify-between gap-2 ">
 <span>L'hotel d'avui</span>
       <button class=" bg-red-700 text-white text-center h-10 mr-2 mt-2 rounded-md" (click)="toggleSidebar()" >X</button>
      </div>

    </div>

    <p class="text-2xl">{{ hotels?.name }}</p>
    <img [src]=hotels?.img>

  </div>
}












