<div class="grid mb-20 bg-stone-950 grid-cols-3 md:grid-cols-4 grid-rows-8 md:grid-rows-5 gap-2 md:gap-2 m-4">
      <div class="col-start-1 row-start-1 h-96 col-span-3 md:col-start-1 md:row-start-1 md:col-span-1 md:row-span-3 rounded-md p-10 bg-[url(/barrivell.jpg)] bg-cover  mask-alpha mask-r-from-black mask-r-from-50% mask-r-to-transparent ">
        <p class="w-36 bg-cyan-800  text-3xl text-rose-100 p-1">Somnia</p></div>
      <div class="col-start-1 row-start-2  col-span-3 md:col-start-1 md:row-start-4 md:col-span-1 md:row-span-2 rounded-md p-10 bg-[url(/top-view-travel-items-arrangement.jpg)] bg-cover mask-alpha mask-b-from-amber-200 mask-b-from-80% mask-b-to-transparent ">
 <p class=" w-36 bg-emerald-400  text-3xl text-rose-100 p-1">Planeja</p>
      </div>
      <div class="col-start-1 row-start-3 col-span-3 md:col-start-2 md:row-start-1 md:col-span-1 md:row-span-2 bg-gray-300 rounded-md p-10 bg-[url(/flat-lay-map-magnifier-documents-cup-coffee-hands-woman.jpg)] bg-cover mask-alpha mask-b-from-amber-200 mask-b-from-80% mask-b-to-transparent ">
         <p class=" w-40 bg-yellow-800  text-3xl text-rose-100 p-1">Organitza</p>
      </div>
      <div class="col-start-1 row-start-4 col-span-3 md:col-start-2 md:row-start-3 md:col-span-1 md:row-span-3 bg-gray-300 rounded-md p-10 bg-[url(/banysarabs.jpg)] bg-cover text-2xl text-white mask-alpha mask-r-from-black mask-r-from-50% mask-r-to-transparent">
         <p class="w-36 bg-fuchsia-800  text-3xl text-rose-100 p-1">Explora</p>
      </div>
      <div class="col-start-1 row-start-5 col-span-3 md:col-start-3 md:row-start-1 md:col-span-2 md:row-span-2 bg-gray-300 rounded-md p-10 bg-[url(/delicious-smoke-cooked-food.jpg)] bg-cover text-2xl text-white mask-alpha mask-r-from-black mask-r-from-50% mask-r-to-transparent">
                 <p class="w-36 bg-red-800  text-3xl text-rose-100 p-1">Olora</p>
      </div>
      <div class="col-start-1 row-start-6 col-span-3 md:col-start-3 md:row-start-3 md:col-span-2 md:row-span-1 bg-gray-300 rounded-md p-10 bg-[url(/\medium-shot-smiley-woman-posing.jpg)] bg-cover text-2xl text-white mask-alpha mask-b-from-black mask-b-from-80% mask-b-to-transparent">
        <p class=" w-20 bg-emerald-500  text-3xl text-rose-100 p-1">Viu</p>
      </div>
      <div class="col-start-1 row-start-7 col-span-3 md:col-start-3 md:row-start-4 md:col-span-1 md:row-span-2 bg-gray-300 rounded-md p-10 bg-[url(/beautiful-woman-traveling-alone-montenegro.jpg)] bg-cover text-2xl text-white mask-alpha mask-r-from-black mask-r-from-80% mask-r-to-transparent">
 <p class=" w-36 bg-violet-700  text-3xl text-rose-100 p-1">Gaudeix</p>

      </div>
      <div class="col-start-1 row-start-8 col-span-3 md:col-start-4 md:row-start-4 md:col-span-1 md:row-span-2 bg-gray-300 rounded-md p-10 bg-[url(/tempsdeflors26.jpg)] bg-cover text-2xl text-white mask-alpha mask-b-from-black mask-b-from-80% mask-b-to-transparent">
 <p class=" w-36 bg-orange-700  text-3xl text-rose-100 p-1">Camina</p>
      </div>

    </div>
