/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import 'tailwind-animations';
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


*{
  font-family: "Rubik", sans-serif;
}


.ol-control {
  margin-top: 100px !important;
}

.rotate-north {
  left: 10px !important;
  right: auto !important;
  top: 50% !important;
  bottom: auto !important;
  transform: translateY(-50%) !important;
}

.ol-touch .rotate-north {
  top: 180px;
}